{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/bloglist.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Blog List</title>
  </head>
  <body>
    <div class="nav-wrapper">
      <div class="nav-content">
        <div class="nav-logo">
          <a href="{% url 'blog' %}">Shahriar's Blog</a>
        </div>
        <div class="nav-options">
          <div class="nav-poemlist"><a href="{% url 'poemlist' %}">Poems</a></div>
          <div class="nav-bloglist"><a href="{% url 'bloglist' %}">Blogs</a></div>
          <div class="nav-about"><a href="{% url 'about' %}">About Me</a></div>
        </div>
      </div>
    </div>

    <div class="bloglist-wrapper">
      <div class="bloglist-container">
        {% for blog in blogs %}
        <div class="bloglist-entry">
          <header class="bloglist-header">
            <div class="bloglist-title"><a href="{% url 'blog_detail' blog.pk %}"><strong>{{blog.title}}</strong></a></div>
            <div class="bloglist-date"><small><i>{{blog.published_date|date:"F j, Y"}}</i></small></div><br>
          </header>
          <div class="bloglist-content">
            <p>{{blog.content|linebreaksbr}}</p>
          </div>
          <div class="read-more"><a href="{% url 'blog_detail' blog.pk %}">read more..</a></div>
        </div>
        {% endfor %}
        {% if blogs.has_other_pages %}
        <div class="pagination-wrapper">
          <div class="pagination">
            <span class="step-links">
              {% if blogs.has_previous %}
              <div class="page-prev">
                <a href="?page={{ blogs.previous_page_number }}">{{blogs.previous_page_number}}</a>
              </div>
              {% endif %}
              <span class="current">
                {{ blogs.number }}
              </span>
              {% if blogs.has_next %}
              <div class="page-next">
                <a href="?page={{ blogs.next_page_number }}">{{blogs.next_page_number}}</a>
                {% endif %}
              </div>
            </span>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
 
  </body>
</html>
